body{
    background:linear-gradient(peachpuff,lightpink,pink,deeppink);
}

.heading{
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}
.note{
    color: rgb(158, 59, 142);
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    color: white;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

h3{
    color: rgb(158, 59, 142);
}

canvas{
    box-shadow: 5px 5px 5px white;
    background-color: rgb(219, 157, 167);
    border: 5px solid white;
    border-radius: 20px;
}